/* below relates to <body> elements in html documents */
body {
    background-color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}

/* targets <h1> elements in html files*/
h1 {
    color: maroon;
}

/* adds right margin to filter and search bar*/
#programTypeFilter, #languageFilter, #searchBar, #uploadButton {
    display: inline-block;
    margin-right: 35px; /* Adjust the margin as needed */
}

/* adds grey to the code block on program.html*/
#programContent{
    background-color: #f4f4f4;
    clear: both;
    display: block;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

/* adds margin below upload button*/
#openUploadModal {
    clear: both;
    display: block;
    margin-bottom: 50px; /* Adjust the margin as needed */
}


/* Allows for modal to appear after clicking upload program button */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Upload modal window design */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* exit button in upload modal window*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Adds specific cursor when hovering over exit button in upload modal*/
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles search bar */
#searchBar {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
}

/* Style the programs table */
table {
    background-color: #f4f4f4;
    width: 100%;
    border-collapse: collapse;
}

/* Style cells in programs table */
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}