/* below relates to <body> elements in html documents */
body {
    /*width: 850px; /*sets width*/
    background: #fff; /*sets background color*/
    font-size: 18px;/*default font size*/
    font-family: Helvetica, Arial, sans-serif; /* preferred font, listed by preference*/
}

/* targets <h1> elements in html files*/
h1 {
    color: SeaGreen;
}

h2 {
    font-size: 1em;
}


/* targets <h3> elements in html files*/
h3 {
    font-size: 1.75em;
}

/* targets <header> elements*/
header {
    border-bottom: 1px solid #dedede;
}

/*targets <p> elements descended from <header>*/
header p {
    font-size: 1.25em;
    font-style: italic;
}

/*targets <p> elements descended from <footer>*/
footer p {
    font-size: 0.8em;
}

/*targets anchor (<a>) elements*/
a {
    text-decoration: none;
}

/*targets <p> and list items (<li>)*/
p, li {
font-size: 18px;
}